.navbar{
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.LogIn, .SignUp{
    position: static;
    height: 50px;
    width: 100px;
    margin: 10px;
    float: right;
    border: 3px solid green;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    font-style: italic;
}

.SignUp{
    background-color: green;
    color: white;
}
.SignUp:hover{
    background-color: rgb(4, 180, 4);
    border-color: rgb(4, 180, 4);
}
.LogIn:hover{
    border-color: rgb(4, 180, 4);
}
@media only screen and (max-width: 600px) {
    .SignUp,.LogIn{
        width: 100%;
        border-radius: 0px;
        margin: 10px;
        margin-bottom: 5px;
    }
    .navbar{
        display: inline-block;
    }
}
.navHead{
    color: white;
    margin: 10px;
}