.UpdateBox{
    background-color: aqua;
    height: 500px;
    padding: 25px;
    margin-top: 10%;
    border: 4px solid white;
}

.update-remaining{
    font-size: medium;
    margin: 0px;
    color: red;
}

.update-label{
    float: left;
}
.isdone-dropdown{
    height: 32px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    background-color: skyblue;    
    font-family: 'Shantell Sans', cursive;
    margin: 15px;
}